.footer {
  width: 1296px;
  margin: 0 auto;
  padding-bottom: 30px;
  padding-top: 90px;

  .bodyFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footerTextLeft {
      font-weight: 400;
      font-size: 14px;
      line-height: 18.9px;
      color: #ffffff;
    }

    .footerTextRight {
      font-weight: 700;
      font-size: 14px;
      line-height: 18.9px;
      color: #ffffff;
    }
  }
}
